# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.Rproj.user/D0A53ED/sdb/prop/5B6517CD
.Rproj.user/D0A53ED/sdb/prop/INDEX
.Rproj.user/D0A53ED/sdb/s-86113B42/32FEAFE3
.Rproj.user/D0A53ED/sdb/s-86113B42/817967F1
.Rproj.user/D0A53ED/sdb/s-86113B42/E6DB9749
.Rproj.user/D0A53ED/sdb/s-86113B42/lock_file
EDMAnalysis.Rproj